* {
    margin: 0;
    padding: 0;
}
h2{
    color: grey;
}

.logo {
    display: none;
}

body{
	font-family: 'Roboto', sans-serif;
	color: grey;
	background-color: #eee;
 }

    a {
        text-decoration: none;
    }

    /* a:hover {
        background-color: rgba(0, 253, 253, 0.623);
        transform: scale(1.1,1.1);
    } */

/* NAV BOOTSTRAP */

.navReverse {
    flex-flow: row-reverse;
}

.navbar-brand {
    font-weight: 900;
}

.dropdown-menu {
    background-color: pink;
}

.dropdown-menu a:hover{
    background-color: rgb(124, 252, 252);
}

.navItemFlex {
    display: flex;
    gap: 10px;
}

    /* fin nav bootstrap */

    header {
        position: sticky;
        top: 0;
        z-index: 15;
        display: flex;
        flex-flow: row wrap;
        background-color: pink;
        /* padding: 1rem; */
    }

    .titulosByN {
        background-color: black;
        color: white;
        }

    #h1FotoDeco {
        display: none;
    }


    .tituloSlide {
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 16px rgba(0, 0, 0, 1);
        font-weight: 900;
        font-size: 2rem;
        }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;
        list-style: none;
    }
    
    .sectionDestacados {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 2rem;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }
    
    #destacados {
        font-size: 24px;
    }

    .productosDestacados {
        font-size: 18px;
    }

    .descripcionDestacados {
        display: inline-block;
        margin: 0px 0px 50px 20px;
        list-style-position: inside;
        position: relative;
        bottom: 60px;
    }

    .precioDestacados {
        font-weight: bold;
        padding-top: 10px;
    }

    .productosImg {
        width: 300px;
        height: 300px;
        box-shadow: 0px 0px 30px 8px grey;
    }

    .flexDestacados {
        display: flex;
        flex-flow: column nowrap;
        justify-content: left;
        align-items: center;
        gap: 2rem;
    }

    .detalleProdDest {
        list-style: none;
        text-align: center;
    }

    .flexContactos {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .flexContactos h2 {
        text-align: center;
        margin: 1rem;
    }

    .flexContactos a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        font-style: italic;
        font-weight: bold;
        color: grey;
        font-size: 1.3rem;
        padding: 5px;
    }

    .flexContactos h3 {
        margin: 2rem;
        text-align: center;
    }

    .flexNosotras {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
    }
    .flexNosotras img {
        height: 400px;
        width: 400px;
        margin: 1rem;
        box-shadow: 0 0 50px 0 grey;
    }

    .flexNosotras p {
        margin: 1rem 1rem;
    }

    .tipsFlex {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0 20px;
    }
    

    footer {
        background: rgb(255,140,204);
        background: linear-gradient(0deg, rgba(255,140,204,1) 0%, rgba(240,240,240,1) 100%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        padding: 2rem;
    }
    
    .logoFooter {
        height: 100x;
        width: 100px;
    }
    .redesFooter {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    .redesFooter a {
        color: grey;
        font-size: 1.3rem;
        font-style: italic;
        font-weight: bold;
        align-self: flex-start;
        padding: 5px;
        }


    /*Productos*/

    .productosFlex {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .productosFlex h2 {
        margin: 2rem;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        width: 100%;
        text-align: center;
    }

    .productosFlex div {
        text-align: center;
    }
    
    .productosFlex div img {
        margin: 2rem 0 1rem 0;
    }






    /* MEDIAS */        /* MEDIAS */        /* MEDIAS */


    /* MEDIAS */        /* MEDIAS */        /* MEDIAS */


    /* MEDIAS */        /* MEDIAS */        /* MEDIAS */


    
    @media only screen and (min-width: 576px) {

    header {
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .logo {
        display: inline-block;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }
    
    footer {
        justify-content: space-around;
    }
    }

    @media only screen and (min-width: 768px) {
    
        header nav {
            font-size: 1.3rem;
        }

        .logo img {
            height: 80px;
            width: 80px;
        }    
        
        .sectionDestacados {
            align-items: center;
            width: 85%;
            margin: auto;
        }

        .flexDestacados {
            flex-flow: row;
            justify-content: space-between;
            gap: 10rem;
            width: 100%;
        }
        
        .detalleProdDest {
            text-align: left;
        }

        .invert {
            flex-flow: row-reverse;
        }

        .alturaSlide {
            height: 91vh;
        }
    }
    
    @media only screen and (min-width: 990px) {

        .navbar-brand {
            margin-right: 10rem;
        }


        .navReverse {
            flex-direction: row;
        }
        
        .flexDestacados {
            justify-content: space-evenly;
        }

        footer {
            justify-content: space-evenly;
        }

        #gridProductos {
            display: grid;
            grid-template: 2% 1fr 2% repeat(2,1fr) 2% 1fr / repeat(3, 1fr);
            row-gap: 15px;
            column-gap: 15px;
            justify-content: space-evenly;
        } 

    .grupoDeProductos {
        text-align: center;
        margin: 30px;
    }

    #cuadrosGrid {
        grid-area: 1 / 1 / 2 / 4;
    }
    
    #fotosGrid {
        grid-area: 3 / 1 / 4 / 4;
    }
    
    #regalosGrid {
        grid-area: 6 / 1 / 7 / 4;
    }

    .flexContactos {
        flex-flow: row-reverse nowrap;
        justify-content: space-evenly;
    }

    .flexContactos h3 {
        text-align: left;
    }

    .flexNosotras {
        flex-flow: row-reverse;
        justify-content: space-evenly;
    }

    .flexNosotras img {
        height: 500px;
        width: 500px;
    }

    .flexNosotras p {
        width: 500px;
    }

    }